/*768 Screen*/
@media screen and (max-width:768px) {
    body {
        font-size: 15px;
    }

    /*Header Section*/

    .header .nav-item {
        padding: 10px 5% 10px 10%;
        text-align: center;
        width: 40%;
    }

    .header .navbar form {
        width: 30%;
        margin-left: 23%;
    }

    /*Navigation Section*/

    .nav .row ul li {
        padding: 0 1.4%;

    }

    .nav .row ul li a {
        font-size: 0.7em;
    }

    /*Hero Section*/
    .hero .carousel-item .row h2 {
        font-size: 1.8em;
    }

    .hero .carousel-item .row .left {
        padding-top: 10px;
    }

    .hero .carousel-item .row .left a {
        font-size: 0.9em;
    }

    .hero .carousel-item .row p {
        height: 128px;
        overflow: hidden;
        padding: 10px 0% 0 0%;
    }

    .hero .carousel-item .row img {
        height: 350px;
    }

    /*Recentpost section*/
    .recent .heading,
    .popular .heading {
        margin: 0px 0;
    }

    .recent .heading .line,
    .recent .heading .line-1,
    .popular .heading .line,
    .popular .heading .line-1 {
        width: 30%;
    }

    .recent .heading .line .circle,
    .recent .heading .line-1 .circle-1,
    .popular .heading .line .circle,
    .popular .heading .line-1 .circle-1 {
        border: 7px solid grey;

    }

    .recent .heading h2,
    .popular .heading h2 {

        font-size: 2.5em;
    }
    .recent .card{
        padding: 20px 0;
    }
    .recent .card img {
        width: 200px;
        height: 180px;
    }

    .recent .card-body h6 {
        font-size: 0.8em;
    }

    .recent .card-title {
        font-size: 1.3em;
    }

    .recent .card-text {
        font-size: 0.9em;
    }

    .recent .btn {
        font-size: 0.5em;
    }

    .recent .card-body .right a {

        padding: 0px 0 0 0px;
        font-size: 0.8em;
    }

    .recent .card-body .right a i,
    .popular .card .back .ri a i {
        padding-right: 5px;
    }

    /*Popular SEction*/

    .popular .card {
        padding: 30px 2%;
    }

    .popular .card .back {
        height: 280px;
    }

    .popular .card .back h6 {
        padding: 200px 0 0 5%;
        text-align: center;
        font-size: 0.8em;
    }

    .popular .card .back .ri a {
        display: inline-block;
        padding: 0px 10px 0 0%;
        font-size: 0.8em;
    }

    .popular .card-title {
        font-size: 1.5em;
    }

    .popular .card-text {
        padding: 10px 0 0 2%;
        font-size: 0.9em;
        height: 115px;
        overflow: hidden;
    }

    .popular .btn {

        font-size: 0.9em;
    }

    .popular .rig .btn-1 i {
        padding-right: 8px;
    }

    /*Footer Section*/
    .footer .row ul {
        padding-left: 50%;
    }

    .footer .row ul li {
        float: left;
        margin: 0 5%;
    }

    .footer .row ul li a {
        padding: 3px 30%;
    }
}


/*640 Screen*/
@media screen and (max-width:640px) {
    body {
        font-size: 15px;
    }

    /*Header Section*/
    .header .navbar form {
        width: 40%;
    }

    /*Navigation Section*/

    .nav .row ul li {
        padding: 0 3.8%;

    }

    .nav .row ul li a {
        font-size: 0.8em;
    }

    /*Hero Section*/
    .hero .carousel-item .row p {
        height: 150px;
        overflow: hidden;
    }

    .hero .carousel-item .row img {
        height: 350px;
        box-shadow: none;
    }

    /*Recentpost section*/
    .recent .heading h2,
    .popular .heading h2 {

        font-size: 2em;
        padding-top: 10px;
    }

    .recent .card {
        margin: 20px 3% 20px 3%;
        padding: 20px 5%;
    }

    .recent .card img {
        width: 400px;
        height: 250px;
    }

    .recent .card-text {
        height: 60px;
        overflow: hidden;
    }

    .recent .btn {
        font-size: 0.7em;
    }

    /*Popular SEction*/
    .popular,
    .recent {
        padding: 20px 0;
    }

    .popular .card-body {
        padding: 20px 0 0 0%;
    }

    .popular .card {
        margin: 10px 0;
         padding: 30px 5%;
    
    }

    .popular .card .back h6 {
        padding: 230px 0 0 5%;
    }

    .popular .card .back .ri a {
        display: inline-block;
        padding: 230px 10px 0 0%;
    }

    .popular .card-title {
        font-size: 1.7em;
    }

    /*Footer Section*/
    .footer .row ul {

        margin-top: 20px;
        padding-left: 30%;
    }

    .footer .row ul li {
        margin: 0 3%;
        display: inline-block;
    }

    .footer .row ul li a {
        padding: 5px 50%;
    }
}


/*480 Screen*/
@media screen and (max-width:480px) {
    body {
        font-size: 14px;
    }

    /*Header Section*/
    .header .navbar form {
        width: 43%;
    }

    /*Navigation Section*/
    .nav .row ul {
        padding: 0 3%;
    }

    .nav .row ul li {
        padding: 0 3.1%;

    }

    /*Hero Section*/
    .hero .carousel-item .row h6 {
        padding: 30px 0 10px 3%;
    }

    .hero .carousel-item .row h2,
    .hero .carousel-item .row .buton {
        padding: 0 0 0 3%;
    }

    .hero .carousel-item .row .left {
        padding-top: 10px;
    }

    .hero .carousel-item .row p {
        height: 135px;
        overflow: hidden;
        padding: 10px 0% 0 3%;
    }

    .hero .carousel-item .row img {
        height: 300px;
        margin: 20px 3%;
    }

    /*Recentpost section*/
    .recent .heading .line,
    .recent .heading .line-1,
    .popular .heading .line,
    .popular .heading .line-1 {
        width: 28%;
        border-top: 2px solid gray;
        left: 0px;
    }

    .recent .heading .line .circle,
    .recent .heading .line-1 .circle-1,
    .popular .heading .line .circle,
    .popular .heading .line-1 .circle-1 {
        border: 5px solid grey;
        top: -5px;

    }

    .recent .heading h2,
    .popular .heading h2 {

        font-size: 2em;
    }

    .recent .card img {
        width: 375px;
        height: 200px;
    }

    .recent .card-text {
        height: 70px;
        overflow: hidden;
    }

    .recent .btn {
        font-size: 0.8em;
    }

    /*Popular SEction*/

    .popular .card {
        padding: 20px 5%;
        margin: 0 5%;
    }

    .popular .card .back {
        height: 250px;
    }

    .popular .card .back h6 {
        padding: 200px 0 0 5%;
    }

    .popular .card .back .ri a {
        padding: 200px 10px 0 0%;
    }

    .popular .card-text {
        height: 140px;
        overflow: hidden;
    }

    .popular .btn {

        font-size: 1em;
    }

    /*Footer Section*/
    .footer .row p {
        text-align: center;
    }
}



/*360 Screen*/
@media screen and (max-width:360px) {
    body {
        font-size: 13px;
    }

    /*Header Section*/
    .header .navbar-brand img {
        width: 120px;
        height: 40px;
    }

    .navbar-toggler-icon {
        width: 1em;
    }

    .header .navbar form {
        width: 55%;
    }

    /*Navigation Section*/
    .nav .row ul li {
        padding: 0 5.3%;

    }

    /*Hero Section*/
    .hero .carousel-item .row p {
        height: 110px;
        overflow: hidden;
    }

    .hero .carousel-item .row img {
        height: 200px;
        margin: 20px 0%;
    }

    /*Recentpost section*/
    .recent .heading .line,
    .recent .heading .line-1,
    .popular .heading .line,
    .popular .heading .line-1 {
        width: 23%;
    }

    .recent .heading h2,
    .popular .heading h2 {

        font-size: 1.8em;
        padding-top: 15px;
    }

    .recent .card-text {
        height: 50px;
        overflow: hidden;
    }

    .recent .card img {
        width: 275px;
    }

    /*Popular SEction*/
    .popular {
        padding: 0px 0;
    }

    .popular .card .back h6 {
        padding: 220px 0 0 5%;
    }

    .popular .card .back .ri a {
        padding: 220px 10px 0 0%;
    }

    .popular .card-title {
        padding: 0 0 0 2%;
        font-size: 1.6em;
    }

    .popular .card-text {
        height: 115px;
        overflow: hidden;
    }

    /*Footer Section*/
    .footer .row ul {
        padding-left: 25%
    }

    .footer .row ul li {
        margin: 0 4%;
    }
}

/*320 Screen*/
@media screen and (max-width:320px) {
    body {
        font-size: 12px;
    }

    /*Header Section*/
    .header .navbar form {
        width: 65%;
    }

    .nav .row ul li {
        padding: 0 5.1%;

    }

    /*Hero Section*/
    .hero .carousel-item .row p {
        height: 104px;
        overflow: hidden;
    }

    /*Recentpost section*/
    .recent .card img {
        width: 245px;
    }
    /*Popular section*/
    .popular .card .back .ri a {
        padding: 218px 0px 0 0%;
    }
}